* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 200dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scrollbar-gutter: stable;
}

a,
button {
  color: inherit;
  text-decoration: none;
}

.monogram-nav {
  --m: 0.5rem;
  color: #efc2b3;
  background-color: #1a2456;
  padding: 0.5rem;
  margin: var(--m);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 2 * var(--m));

  a {
    display: flex;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  text-transform: uppercase;

  a {
    display: block;
    padding: 0.5rem 0.75rem;
  }
  button {
    color: inherit;
    background-color: inherit;
    border: none;
  }
}

.hero {
  height: 45em;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
